{% block sw_cms_block_product_five_column_preview %}
<div class="sw-cms-preview-product-five-column">
    <sw-cms-product-box-preview />
    <sw-cms-product-box-preview />
    <sw-cms-product-box-preview />
    <sw-cms-product-box-preview />
    <sw-cms-product-box-preview />
</div>
{% endblock %}
