{% block sw_cms_block_product_five_column %}
<div class="sw-cms-block-product-five-column">
    <slot name="one"></slot>
    <slot name="two"></slot>
    <slot name="three"></slot>
    <slot name="four"></slot>
    <slot name="five"></slot>
</div>
{% endblock %}
